<a href="https://colab.research.google.com/github/suumino/homework/blob/main/20210331.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# ALGORITHM HOMEWORK

names = '이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'.split(',')

#1
a = [i[0] for i in names]                                      # 성으로된 리스트 작성
print('김씨 : %d, 이씨 : %d' %(a.count('김'), a.count('이')))  # 출력

#2
print('이재영 %d 명' %names.count('이재영'))                   # 이재영 수 세기

#3
print(set(names))                                              # 중복 없애기

#4
print(sorted(set(names)))                                      # 정렬하기

김씨 : 2, 이씨 : 6
이재영 3 명
{'송정환', '전경헌', '강상희', '권종표', '김재성', '최승혁', '박민호', '김지완', '이성연', '이유덕', '이재영', '박영서'}
['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

In [32]:
aa=[ i[0] for i in names ]
print("김씨 : %d\n이씨 : %d\n"%(a.count("김"), 
a.count("이")))
#2

['이',
 '이',
 '권',
 '이',
 '박',
 '강',
 '이',
 '김',
 '최',
 '이',
 '박',
 '박',
 '전',
 '송',
 '김',
 '이',
 '전']